<article class="post">
  <div class="title">
    <a href="{{ingredients}}" target="_blank">{{title}}</a>
    <span>({{format_url ingredients}})</span>
  </div>
  <div class="meta">
    by
    {{user.username}}
    on
    {{format_date created_at}}
  </div>
</article>